.cart-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: end;
    right: 60px;
    top: 75px;
    background-color: rgb(207, 202, 202);
    border-radius: 10px;
    padding: 3px;
    z-index: 3;
}
@media (width < 1350px) {
    .cart-container{
        position: absolute;
        right: 0;
        top: 184.3px;
    }
}
@media (width < 920px){
    .cart-container{
        top: 150px;
    }
}
@media (width < 700px){
    .cart-container{
        top: 140px;
    }
}
@media (width < 500px){
    .cart-container{
        top: 200px !important;
    }
}
.cart-item p{
    margin: 1vh auto;
    display: flex;
    text-align: left;
    padding-left: 7px;
    padding-right: 7px;
    flex: 1
}
.cart-item{
    display: flex;
    justify-content: space-between !important;
    width: 20vw;
}
.cart-total{
    border-top: 3px black solid;
}