@font-face {
  font-family: 'Museful';
  src: url('../assets/museful-regular.otf') format('opentype');
}
@font-face {
  font-family: 'WorkSans';
  src: url(../assets/WorkSans-ExtraBold.ttf) format('truetype');
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  height: 8vh;
}
#header img {
  height: 48px;
  border-radius: 20px;
}

#itemsButton {
  height: 24px;
  border-radius: 30px;
  border: none;
  margin: 17.5px 5px auto auto;
  background-color: #5daf3a;
}

#itemsButton:hover {
  cursor: pointer;
}

#header>*:hover {
  cursor: pointer;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.searchbar form {
  margin-top: 2vh;
  display: flex;
  align-items: center;
}

.searchbar input {
  padding: 7px;
  border-radius: 3px;
  width: 33vw;
  font-size: 1.5rem;
  border: none;
}

.searchbar input:focus::placeholder {
  color: transparent;
}

.searchbar button {
  background-color: rgb(47, 255, 82);
  border: none;
  border-radius: 5px;
  height: 5.5vh;
}

#cartIcon {
  margin-top: 9px;
}

#accountIcon {
  margin-top: 12px;
  margin-left: -7px;
}

#header h1 {
  text-shadow: 1px 1px 2.5px rgba(0, 0, 0, 0.3);
  margin: 0 auto 0 0;
  font-size: 3rem;
  white-space: nowrap;
}

#header h2 {
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-weight: 400;
  margin: 10px 14px auto 3px;
  font-size: 1.75rem;
  white-space: nowrap;
}

.gradient-text {
  background: linear-gradient(to right, #0097b2, #7ed957);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#menu-icon {
  position: absolute;
  display: none;
}

@media (width < 1100px) {
  #header h1 {
    font-size: 2rem;
  }

  .searchbar input {
    font-size: 1rem;
  }

  .searchbar button {
    height: 4.2vh;
  }
}

@media (width <877px) {
  #header h1 {
    font-size: 1.5rem;
  }
}

@media (width < 700px) {
  .searchbar input {
    width: 25vw;
  }

  #header h2 {
    font-size: 1rem !important;
  }
}

@media (width < 920px) {
  #header h2 {
    font-size: 1.25rem;
  }
}

@media (width < 610px) {
  #header h1 {
    margin-right: 0px;
    font-size: 1rem;
  }
}

@media (width < 500px) {
  #menu-icon {
    transform: scale(1) !important;
    margin-right: -20px;
    visibility: visible !important;
  }

  .searchbar button {
    margin-left: -8px;
  }

  #header img {
    transform: scale(.6);
  }

  #header h1 {
    margin-left: -10px;
  }

  .show {
    margin-top: 60px;
  }

}
@media (width < 350px) {
  .searchbar input {
    width: 10vw;
    margin-left: -20px;
  }
  #woods div, #brick div{
    font-size: 4vh;
  }
}

@media (width >=1350px) {
  #menu-icon {
    visibility: hidden;
  }
}

@media (width < 1350px) {
  html body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  .header-options {
    display: none !important;
  }

  .show {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    visibility: visible !important;
    z-index: 3;
    background-color: gray;
    border-bottom-left-radius: 10px;
  }

  .show #cartIcon,
  .show #accountIcon,
  .show #itemsButton {
    display: inline-flex !important;
  }

  #menu-icon {
    display: inline-block !important;
    right: 22px;
    top: 22px;
    transform: scale(1.75);
    color: white;
  }
}

#section1 {
  height: 86vh;
  display: grid;
  gap: 3vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 3vh 4vw;
}
@media(width < 408px){
  #doubleColumn {
    grid-column: span 2;
    line-height: 8vh;
  }
  #hideMe{
    display: none;
  }
}
#brick{
  background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
  url('/src/assets/ladrillo-de-campo.jpg');
  overflow: hidden;
}
#brick:hover{
  cursor: pointer;
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),
  url('/src/assets/ladrillo-de-campo.jpg');
}
#brick div, #woods div{
  text-align: center;
  margin-top: 33%;
  font-size: 4.5vh;
  text-shadow: 2px 2px black;
  font-weight: 500;
  color: white;
}
#ribbon-holder {
  position: relative;
}

#ribbon-holder::before {
  content: "MÃS POPULAR";
  position: absolute;
  top: -10.5vh;
  right: -2.75vw;
  padding: 10px 40px;
  background-color: red;
  color: white;
  transform: rotate(45deg);
  transform-origin: top right;
  overflow: hidden;
  font-size: 4vh !important;
  text-shadow: none;
}
@media(width<1300px){
  #ribbon-holder::before{
    top: -9vh;
    right:  -3vw;
    font-size: 3vh !important;
  }
}
@media(width<1250px){
  #ribbon-holder::before{
    top: -8vh;
  }
}
@media(width<1200px){
  #ribbon-holder::before{
    right: -3vw;
    top: -7vh;
  }
}
@media(width<1150px){
  #ribbon-holder::before{
    right: -3.5vw;
    top: -6vh;
  }
}
@media(width<1100px){
  #ribbon-holder::before{
    right: -4vw;
    top: -5vh;
  }
}
@media(width<1050px){
  #ribbon-holder::before{
    right: -4.5vw;
    top: -4vh;
  }
}
@media(width<1000px){
  #ribbon-holder::before{
    right: -5vw;
    top: -1vh;
    padding: 10px 50px;
  }
}
@media(width<950px){
  #ribbon-holder::before{
    right: -5.5vw;
    top: 0vh;
  }
}
@media(width<900px){
  #ribbon-holder::before{
    right: -5vw;
    top: 1vh;
  }
}
@media(width<800px){
  #ribbon-holder::before{
    padding-right: 35px;
  }
}
@media(width<700px){
  #ribbon-holder::before{
    padding-right: 25px;
  }
}
@media(width<600px){
  #ribbon-holder::before{
    padding-right: 40px;
    font-size: 2vh !important;
  }
}
@media(width<500px){
  #ribbon-holder::before{
    top: 3vh;
    right: -7vw;
  }
}
@media(width<400px){
  #ribbon-holder::before{
    top: 5vh;
    right: -8vw;
    white-space: nowrap;
  }
  
  #ladrillo-header, #woods div{
    padding-top: 10vh;
  }
}
#brick, #brick:hover{
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
}
#woods{
  background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
  center/cover no-repeat url('/src/assets/plywood.jpg');
}
#woods:hover{
  cursor: pointer;
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),
  center/cover no-repeat url('/src/assets/plywood.jpg');
}
.row-1 {
  grid-row: 1;
}

.row-2 {
  grid-row: 2;
}

.column-1 {
  grid-column: 1;
}

.column-2 {
  grid-column: 2;
}
#mower {
  position: relative;
  width: 100%;
  height: 100%;
}

#mower::before {
  content: "40% \a off";
  white-space: pre;
  position: absolute;
  text-align: center;
  top: 5px;
  right: 20px;
  padding: 10px 13px 20px 13px;
  background-color: red;
  opacity: 0.8;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
  font-size: 5vh;
  font-weight: 500;
  color: white;
}
@media (width < 600px){
  #mower::before{
    font-size: 2.5vh;
  }
}
#mower:hover{
  background-color: black;
  opacity: 0.4;
  cursor: pointer;
}
.row-element {
  display: inline-flex;
  align-items: center;
  height: fit-content;
}
.centered-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  border: none;
  border-radius: 10px;
  background-color: rgb(212, 38, 38);
  color: white;
  font-size: 2rem;
  padding: 15px;
  margin: auto 15vw 10vh;
  align-self: center;
}

.row-1 button{
  margin: 0;
}

.btn:hover {
  background: linear-gradient(to right, rgb(83, 81, 81), black);
  cursor: pointer;
}

.jumping-heading {
  transition: transform 0.2s ease-in-out;
}

.jumping-heading:hover {
  transform: translateY(-5px);
}
.main-header {
  font-size: 8vh;
  text-align: left;
  font-family: 'WorkSans', sans-serif;
}
.image-fill{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (width < 1366px) {
   .main-header {
   font-size: 6vh;
  }

  @media (width < 1150px) {
     .main-header {
      font-size: 5vh;
    } 

    .btn {
      font-size: 1.5rem;
    }
  }

  @media(width < 880px) {
     .main-header {
      font-size: 4vh;
    } 

    .btn {
      font-size: 1rem;
    }
  }

  @media (width < 1000px) {
    .slider {
      transform: scale(1.1) !important;
    }
  }

  @media(width < 940px) {
    .slider {
      transform: scale(.8) !important;
    }
  }

  @media(width< 850px) {

    #section2 {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100vw;
    }
    #secondSlider {
      margin-left: 0 !important;
    }
  }
}

#chatIcon {
  position: fixed;
  bottom: 50px;
  right: 50px;
  transform: scale(3);
  color: white;
  background-color: #5daf3a;
  border-radius: 5px;
}

#chatIcon:hover {
  cursor: pointer;
}

@media(width <500px) {
  #chatIcon {
    transform: scale(1.5);
  }
}

#downIcon {
  position: fixed;
  bottom: 10px;
  ;
  left: 50%;
  transform: scale(2);
}

#downIcon:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(2) translateY(-3px);
}

#upIcon {
  position: fixed;
  top: 10px;
  ;
  left: 50%;
  transform: scale(2);
}

#upIcon:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(2) translateY(-3px);
}

.single-line {
  white-space: nowrap;
  font-size: 18px;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  transform: scale(1.4);
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slide img {
  max-width: 100%;
  margin: 0 auto;
}

#secondSlider {
  margin-left: 18vw;
}

#section2 {
  height: 100vh;
}

#section3 {
  display: flex;
  height: fit-content;
}

#nuestroEquipo {
  height: 384px;
  width: 576px;
}

@media (width < 1100px) {
  #nuestroEquipo {
    height: 288px;
    width: 432px;
  }
}

@media(width < 900px) {
  #nuestroEquipo {
    align-self: center;
  }

  #section3 {
    flex-direction: column;
  }

  #section3 p {
    width: 75vw !important;
  }

  #section3 h2 {
    width: 75vw !important;
  }
}

#section3 h2 {
  margin: 7vh 12vw;
  width: 30vw;
  font-size: 4vh;
  text-align: center;
}

#section3 p {
  width: 30vw;
  font-size: 1.5rem;
}

#home-footer {
  margin-top: auto;
}

/*** landscape mode ***/
@media (orientation: landscape){
  #section2{
    margin-top: 30vh;
    margin-bottom: 30vh;
  }
  .searchbar button{
    height: clamp(30px, 35px, 50px);
  }
}
@media (orientation: landscape) and (width > 1200px){
  #ribbon-holder::before{
    top: -9vh;
    width: 200px;
    font-size: 3vh !important;
  }
}
@media (orientation: landscape) and (width < 1200px){
  #ribbon-holder::before{
    top: -4vh;
    width: 200px;
    font-size: 3vh !important;
  }
}
@media (orientation: landscape) and (width < 1050px){
  #ribbon-holder::before{
    top: -1vh;
    width: 200px;
    font-size: 3vh !important;
  }
}
@media (orientation: landscape) and (width < 950px){
  #ribbon-holder::before{
    top: 1vh;
    right: -7vw;
    width: 200px;
    font-size: 3vh !important;
  }
}
@media (orientation: landscape) and (width < 850px){
  #ribbon-holder::before{
    top: 3vh;
    right: -8vw;
    width: 200px;
    font-size: 3vh !important;
  }
}
@media (orientation: landscape) and (width < 670px){
  #ribbon-holder::before{
    top: 5vh;
    right: -9vw;
    width: 200px;
    font-size: 2vh !important;
  }
}