#profile{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: fit-content;
}
#profileSection button{
    border: none;
    background-color: #01a9c7;
    border-radius: 5px;
    padding: 10px;
    color: white; 
    margin: 2px;
}
#profileSection button:hover{
    background-color: black;
    cursor: pointer;
}
#profileSection{
    flex: 1;
}
#profileSection h1{
    font-size: 3rem;
    text-align: center;
}
.datos{
    margin-left: 25vw;
}

table {
  width: 100%;
  border-collapse: collapse;
}
@media(width > 500px){
  table{
    width: 75%;
  }
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: white;
}

th {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: white;
}

tbody td:not(:empty):before {
  content: attr(data-label);
  font-weight: bold;
  margin-right: 0.5rem;
}
  #historial{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #historial button{
    align-self: last baseline;
    margin: 5vh 20vw auto auto;
  }
