#signupSection{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: fit-content;
}
Header{
    flex: 0 0 auto;
}
#signupBody{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
}
#signupBody h1{
    margin-top: 10vh;
    text-align: center;
    font-size: 6vh;
}
@media (width < 675px) {
    #signupBody input, #signupBody button{
        width: 200px !important;
        align-self: center;
    }
}
@media(orientation: landscape){
    #signupBody{
        margin-top: 15vh;
    }
}